doctype html
html
  head
    title Gautam Dance Academy 
    block scripts
    block style
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/img/logo2.jpg")
                | HDA
            li #[a(href = "/") Home ]
            li #[a(href = "/") About]
            li #[a(href = "/") services]
            li #[a(href = "/") class info]
            li #[a(href = "/") contact us]
    block content
    footer#footer
           Copyright @ 2022 GautamDanceAcademy.com | All Right Reserved